<div class="container">
  <br>
  <div class="col-xs-8 col-xs-offset-2">
    <h1>Go!</h1>
    <br>
    <input type="text" class="form-control" [(ngModel)]="searchCar">
    <br>
    <button class="btn btn-primary" (click)="addCar()">Добавить</button>
    <hr>
    <ul class="list-group">
      <li
              class="list-group-item"
              *ngFor="let car of cars | inputFilter:searchCar:'name'; let i = index"
      ><b style="padding: 0px 5px">{{ i + 1 }}</b>  {{car.name}} <i>{{car.descr}}</i></li>
    </ul>
  </div>
  <br>
  <br>
</div>
