.item {
  display: flex;
  padding: 50px 10px 30px;
  justify-content: space-between;
  cursor: pointer;
  flex-wrap: wrap;
  app-product{
    width: 25%;
  }
}



.text-product {
  min-width: 300px;
  padding: 25px 0;
  td{
    font-size: 25px;
    padding: 5px 10px;
  }
}

.reset {
  display: block;
  background-color: #27ddd9;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

