  <div class="item" >
    <div class="product" (click)="pushItemData();">
      <div class="text-product">
        <p>Name product: {{product.name}}</p>
        <p>Cost: {{product.cost}}</p>
        <p>Description: {{product.describtion}}</p>

        <p>{{cost | currency:'USD': true}}</p>
      </div>

      <div>
        <div *ngIf="showActiveState(); else notActive">
          <p>This is active item!</p>
        </div>
        <ng-template #notActive>
          <p class="not-active">This is not active item!</p>
        </ng-template>

        <app-description *ngFor="let information of product.information; let idx = index" [itemIndex]="idx" [information]="information"></app-description>
      </div>

    </div>
  </div>


