<div class="container">
  <div class="item" >
    <div class="product" (click)="pushItemData();">
      <div class="text-product">
        <p>Name product: {{prodInfo.name}}</p>
        <p>Cost: {{prodInfo.cost}}</p>
        <p>Description: {{prodInfo.describtion}}</p>
      </div>

      <div>
        <div *ngIf="showActiveState(); else notActive">
          <p>This is active item!</p>
        </div>
        <ng-template #notActive>
          <p class="not-active">This is not active item!</p>
        </ng-template>

        <app-description *ngFor="let information of prodInfo.information; let idx = index" [itemIndex]="idx" [information]="information"></app-description>
      </div>

    </div>
  </div>
</div>

